/*==Style cho menu===*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
#menu{
  width: 100%;
      padding-left: 172px;
    padding-right: 826px;
}
#menu ul {
  background: #2c3e50;
  list-style-type: none;
  text-align: center;
  padding:0px;
  margin:0px;
  margin-right:-650px;
}
/*==Style cơ bản cho website==*/

#menu li {
  color: white;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5 px;
  position: relative;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #28a745;
  color: #333;
}
@font-face {
font-family: 'din';
src: url('fonts/din.eot');
src: url('fonts/din.eot?#iefix') format('embedded-opentype'), url('fonts/din.woff') format('woff'), url('fonts/din.ttf') format('truetype'), url('fonts/din.svg#din') format('svg');
font-weight: normal;
font-style: normal;
}
/*==Dổ Menu==*/
.sub-menu li {
  display: none;
  margin-left: 0 !important;
}

.sub-menu {
 display: none;
 position: absolute;
}
#menu li:hover .sub-menu {
 display: block;
}

.dropbtn {
    background-color: #555;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#canmenu{
  display: block;
  position: absolute;
  text-align: right;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333 ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #333}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #333;
}
body {
  background:url(images/bgmain.png);
}

#header img{
  margin: 35px;
  max-width:30%;
}

#banner {
  background:url(images/rentalbg1.jpg);
  background-size:cover;
  height:500px;
  width: 76%;
  margin-left: 183px;
}

.xe {
  padding: 10px;
  background: white;
}

.xe img {
  max-width: 100%;
}

.tenxe {
  color: #72b70f;
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
  min-height: 40px;
}

.datxe {
  text-align: center;
  padding: 5px 0;
}

.mau {
  margin: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  float: left;
}

.footer {
  background: #2c3e50;
  color: white;
      width: 1163px;
    margin-left: 181px;
}

.footer a {
  color: yellow;
}
.form-inline{
  text-align: center;
  padding: 5px 0;
}

.containerDN{
  padding-left:20px;
  padding-bottom:20px;
}
.containerDK{
  padding-left:20px;
  padding-bottom:20px;
}
.row{
  padding-top: 15px;
}
.dangnhap{
     padding-left: 0px;
    padding-top: 35px;
    padding-bottom: 14px;
}
#btndangky{
  padding-top: 8px;
}
#formtext{
  text-align: center;
  padding-bottom: 20px;
  font-size: 150%;
  font-style: initial;
}
.register{
   position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 25px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}